{% extends "_layouts/site-base-checkout.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_menu'    as m_menu %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Payment</title>
{% endblock titleTag %}

{% block content %}
<section row>
    <div class="UserForm MemberLogin" style="min-height: 600px">
        <h1 class="jsLoginTitle">FreeForm</h1>
        <div class="UserForm-block">
            <h5>Form injected by Freeform:</h5>

{## auto rendering of fields 
end auto-rendering of fields ##}

            {% set form = craft.freeform.form("freeForm", {
                id: "freeForm",
                errorClass: "formError",
                rowClass: "formRow",
                columnClass: "jimbo",
                submitClass: "button",
                formAttributes: { "data-error-message": "Please fix the errors displayed below and try again" },
            }) %}
            
            {{ form.renderTag }}
            
            {% if form.hasErrors %}
                <div class="freeform-form-has-errors">
                    {{ "Error! Please review the form and try submitting again."|t('freeform') }}
                    {% if form.errors|length %}
                        <ul>
                            {% for error in form.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            
            {% for row in form %}
                {% set numCols = row|length %}
                <div class="{{ form.customAttributes.rowClass }}">
                    {% for field in row %}
                        {% switch numCols %}
                            {% case 2 %}
                                {% set columnClass = 'w49 ' %}                            
                            {% case 3 %}
                                {% set columnClass = 'w30 ' %}                        
                            {% default %}
                                {% set columnClass = 'w100 ' %}
                        {% endswitch %}
                        
                        {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
                        {% if field.type == "submit" %}
                            {% set columnClass = columnClass ~ " btnRow" %}
                        {% endif %}
            
                        {% if field.type == "password" %}
                            {% set pw = form.get('password') %}

                            <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
                                <div class="loginPassword">
                                    {{ field.renderLabel() }}
                                    <span class="pw-wrapper">
                                        {{ field.renderInput({
                                            class: "jsPWField",
                                        }) }}
                                        <span class="jsShowPW eyeball" title="Show Password"></span>
                                        <span class="spacer">&nbsp;</span>
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
                                {{ field.render({
                                    class: field.type != "submit" ? "freeform-input" : "",
                                    labelClass: "sample-label" ~ (field.required ? " required" : ""),
                                    errorClass: "formError",
                                    instructionsClass: "sample-instructions",
                                }) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            
            
            {{ form.renderClosingTag }}

{## manual field rendering 
            {% set form = craft.freeform.form("freeForm") %}

            {{ form.renderTag({returnUrl: "contact/success"}) }}
            
                {% if form.hasErrors %}
                    <div class="freeform-form-has-errors">
                        {{ "There was an error submitting this form"|t }}
            
                        {% if form.errors|length %}
                            <ul>
                                {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            
                {% set firstName = form.get("firstName") %}
                {% set lastName = form.get("lastName") %}
                {% set dateFld = form.get("date") %}
                {% set timeFld = form.get("time") %}
                    {% dd(firstName) %}
                <div class="formRow">
                    <span class="w49">
                        <label>{{ firstName.label }}</label>
                        <input name="{{ firstName.handle }}" value="{{ firstName.value }}" />
                        {{ firstName.renderErrors() }}
                    </span>                    
                    <span class="w49">
                        <label>{{ lastName.label }}</label>
                        <input name="{{ lastName.handle }}" value="{{ lastName.value }}" />
                        {{ lastName.renderErrors() }}
                    </span>                    
                </div>
            
                <div class="formRow">
                    <span class="w49">
                        <label>{{ date.label }}</label>
                        <input name="{{ date.handle }}" value="{{ date.value }}" />
                        {{ date.renderErrors() }}
                    </span>                    
                    <span class="w49">
                        <label>{{ time.label }}</label>
                        <input name="{{ time.handle }}" value="{{ time.value }}" />
                        {{ time.renderErrors() }}
                    </span>                    
                </div>
            
                <div class="buttonRow">
                    <button type="submit">Submit</button>
                </div>
            
            {{ form.renderClosingTag }}
{## manual field rendering 
            

            {# totally automatic
            {{ craft.freeform.form("freeForm", {
                rowClass: "formRow",
                columnClass: "myCol",
                submitClass: "button",
            }).render() }}
            #}
        </div>
    </div>
</section>

{#
<p>this is the body</p>
#}


{% endblock content %}
