{% extends "_layouts/site-base-checkout.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_menu'    as m_menu %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Payment</title>
{% endblock titleTag %}

{% block content %}
{% set cart = craft.commerce.carts.cart %}
{% set addrId = cart.shippingAddressId %}
{% set addresses = craft.commerce.customers.customer.addresses %}
{% set address = cart.shippingAddress %}
{% set startDate = now|date_modify('+1 day')|atom %} 

{% set formHandle = "stripePayment" %}
{% set wrapperClass = "UserForm-block" %}
{% set optionalBtn = {
    href: craft.app.request.getReferrer(),
    class: "button off",
    text: "Previous"} %}

<section row>
    <div class="UserForm MemberLogin" style="min-height: 600px">
        <h1>Stripe Payment - FF</h1>

        <div class="UserForm-block">
            <div class="group">
                <h5>Event Details</h5>

                <form method="post">
                    {{ csrfInput() }}
                    {{ hiddenInput('action', 'commerce/cart/update-cart') }}
                    {{ hiddenInput('gatewayId', 2) }}
                
                    <input type="text"
                        name="email"
                        class="{% if cart.getFirstError('email') %}has-error{% endif %}"
                        value="{{ cart.email }}"
                        placeholder="{{ "your@email.com"|t }}"
                    >
                
                    <button type="submit">Update Cart Gateway</button>
                <form>
                
                {{ cart.gateway.getPaymentFormHtml({})|raw }}  
{# {% dd(cart) %} #}

            </div>
        </div>
    
        {#
            {% include "_partials/payment-block" %}
        #}    
    </div>
</section>

{% endblock content %}

{% block pageJs %}

<script>
</script>
{% endblock %}
