{% extends "_layouts/site-base-checkout.twig" %}
{% set number = craft.app.request.param('number') %}
{% if number is defined %}
    {% set order = craft.orders.number(number).one() %}
{% endif %}
{% if not order %}
    {% redirect "/customer" %}
{% endif %}

{# import macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_fmt'     as m_fmt %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Order Confirmation</title>
{% endblock titleTag %}

{% block content %}
{% set oddClass = "" %}

{# 
{% dd(order) %} 
#}
{#
            [eventDate] => '2020-12-04 00:00:00'
            [eventTime] => '5:00 PM'
            [eventMealTime] => null
            [eventComments] => null
            [eventOven] => '[\"hasOven\"]'
            [eventContact] => null
            [eventEmail] => 'sammy@projac.com'
            [eventPhone] => null
#}
    <section class="row">
        <div class="UserOrder">
            <div class="UserOrder-info">
                <h3>Thank you for your order!</h3>
                <div class="details">
                    <span>
                        <h5>Customer Information</h5>
                        <p>Contact: {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</p>
                        <p>Phone: {{ order.shippingAddress.phone }}</p>
                        <p>Email: {{ order.email }}</p>
                        <p>&nbsp;</p>
                        <p>Order Number: {{ m_fmt.OrderNum(order.id) }}</p>
                        <p>Order Date: {{ order.dateOrdered | date }}</p>
                        <p>Order Total: {{ order.totalPrice | currency(order.currency) }}</p>
                    </span>
                    <span>
                    {% if order.shippingAddress %}
                        <h5>Event Details</h5>
                        <p>{{ order.shippingAddress.address1 }}</p>
                        {% if order.shippingAddress.address2 %}
                            <p>{{ order.shippingAddress.address2 }}</p>
                        {% endif %}
                        <p>{{ order.shippingAddress.city }}, {{ order.shippingAddress.state }} {{ order.shippingAddress.zipCode }}</p>
                        <p>&nbsp;</p>
                        <p>{{ order.eventDate | date('l F j, Y') }}</p>
                        <p>Starts at: {{ order.eventTime | date('g:i A') }}</p>
                        <p>Meal Served at: {{ order.eventMealTime ? order.eventMealTime | date('g:i A') : order.eventTime | date('g:i A') }}</p>
                        <p>{{ (order.eventOven[0] == '1') ? "A Stove/Oven is available" : "A Stove/Oven is not available" }}</p>
                    {% endif %}
                    </span>
                </div>

                {% if order.eventComments %}
                <div class="comments">
                    <h5>Customer Comments</h5>
                    <p>{{ order.eventComments }}</p>
                </div>
                {% endif %}

                <div class="selections">
                    <h5>Menu Selections</h5>
                    <div class="lineItem hdr">
                            <span class="itemQty hdr">
                                Qty
                            </span>
                            <span class="itemDesc hdr">
                                Description
                            </span>
                            <span class="itemPrice hdr">
                                Price
                            </span>
                            <span class="itemTotal hdr">
                                Total
                            </span>
                    </div>
                    {% for item in order.lineItems %}
                    <div class="lineItem{{ oddClass }}">

                            <span class="itemQty">
                                {{ item.qty }}
                            </span>
                            <span class="itemDesc">
                                {{ item.description }}
                            </span>
                            <span class="itemPrice">
                                {{ item.price | currency(order.currency) }}
                            </span>
                            <span class="itemTotal">
                                {{ item.total | currency(order.currency) }}
                            </span>
                    </div>
                    {% set oddClass = (oddClass == "") ? " oddRow" : "" %}
                    {% endfor %}

                    {% if order.getTotalDiscount() %}
                    <div class="lineItem{{ oddClass }}">
                            <span class="itemQty hdr">
                                &nbsp;
                            </span>
                            <span class="itemDesc hdr">
                                &nbsp;
                            </span>
                            <span class="itemPrice">
                                Discount:
                            </span>
                            <span class="itemTotal">
                                {{ order.getTotalDiscount()|commerceCurrency(order.currency) }}
                            </span>
                    </div>
                    {% endif %}
                    <div class="lineItem total">
                            <span class="itemQty hdr">
                                &nbsp;
                            </span>
                            <span class="itemDesc hdr">
                                &nbsp;
                            </span>
                            <span class="itemPrice hdr">
                                Total:
                            </span>
                            <span class="itemTotal hdr">
                                {{ order.totalPrice | currency(order.currency) }}
                            </span>
                    </div>

                </div>
            </div>
            <div class="btnRow">
                {% if currentUser %}
                <a class="button" href="/customer">Order History</a>
                {% endif %}
                <a class="button" href="/">Home Page</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block pageJs %}
    {{ m_utils.setProgress('s6', 'Order Confirmation', 'false') }}
{% endblock pageJs %}
