{% extends "_layouts/site-base-checkout.twig" %}
{% set number = craft.app.request.param('number') %}
{% if number is defined %}
    {% set order = craft.orders.number(number).one() %}
{% endif %}
{% if not order %}
    {% redirect "/customer" %}
{% endif %}

{# import macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_fmt'     as m_fmt %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Order Confirmation</title>
{% endblock titleTag %}

{% block headStyles %}
    <style media="print">
        html {
            font-size: 75%;
        }
        header,
        footer,
        footer.FooterSections,
        div.btnRow {
            display: none;
        }
        .checkout main {
            margin-top: 0;
        }    
        .UserOrder-info {
            border: none;
        }
        .UserOrder-info .selections,
        .UserOrder-info .details {
            margin: 1rem 0;
        }
        .UserOrder-info .selections {
            page-break-before: avoid;
        }
        .UserOrder-info {
            padding: 0 1rem;
        }
        .ConfirmOrder-header {
            margin: 0 0 1rem 0;
        }
    </style>
{% endblock headStyles %}

{% block content %}
{% set oddClass = "" %}

{# 
{% dd(order) %} 
#}

    <section class="row">
        <div class="ConfirmOrder-header">
            {% set logo = globalVars.companyLogoDark.one() %}
            {% set logoUrl = logo.url %}
            <a href="{{ alias('@web') }}">
                <img src="{{ logoUrl }}" alt="{{ logo.altText }}" />
            </a>
        </div>
        <div class="UserOrder">
            <div class="UserOrder-info">
                    <h3>{{ confirmVars.confirmHdr }}</h3>
                    <p>{{ confirmVars.confirmIntro }}</p>
                <div class="details">
                    <span>
                        <h5>{{ confirmVars.confirmCustomer }}</h5>
                        <p>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}</p>
                        <p>{{ confirmVars.confirmOrderNum }}: {{ m_fmt.OrderNum(order.id) }}</p>
                        <p>{{ confirmVars.confirmOrderDate }}: {{ order.dateOrdered | date }}</p>
                        <p>{{ confirmVars.confirmOrderTotal }}: {{ order.totalPrice | currency(order.currency) }}</p>
                        <p>&nbsp;</p>
                        <h5>{{ confirmVars.confirmComments }}</h5>
                        {% if order.eventComments %}
                            <p>{{ order.eventComments }}</p>
                        {% endif %}


                    </span>
                    <span>
                    {% if order.shippingAddress %}
                        <h5>{{ confirmVars.confirmEvent }}</h5>
                        <p>{{ order.eventDate | date('l F j, Y') }}</p>
                        <p>{{ events.timeHdr }}: {{ order.eventTime | date('g:i A') }}</p>
                        <p>{{ events.mealTimeHdr }}: {{ order.eventMealTime ? order.eventMealTime | date('g:i A') : order.eventTime | date('g:i A') }}</p>
                        <p>{{ (order.eventOven == 'true') ? "A Stove/Oven is available" : "A Stove/Oven is not available" }}</p>
                        <p>&nbsp;</p>
                        <h5>{{ confirmVars.confirmAddress }}</h5>
                        <p>{{ order.shippingAddress.address1 }}</p>
                        {% if order.shippingAddress.address2 %}
                            <p>{{ order.shippingAddress.address2 }}</p>
                        {% endif %}
                        <p>{{ order.shippingAddress.city }}, {{ order.shippingAddress.state }} {{ order.shippingAddress.zipCode }}</p>
                        <p>{{ events.contactHdr }}: {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</p>
                        <p>{{ events.emailHdr }}: {{ order.email }}</p>
                        <p>{{ events.phoneHdr }}: {{ order.shippingAddress.phone }}</p>
                    {% endif %}
                    </span>
                </div>

                <div class="selections">
                    <h5>{{ confirmVars.confirmSelections }}</h5>
                    <div class="lineItem hdr">
                            <span class="itemQty hdr">
                                {{ cartVars.itemQty }}
                            </span>
                            <span class="itemDesc hdr">
                                {{ cartVars.itemDesc }}
                            </span>
                            <span class="itemPrice hdr">
                                {{ cartVars.itemPrice }}
                            </span>
                            <span class="itemTotal hdr">
                                {{ cartVars.itemTotal }}
                            </span>
                    </div>
                    {% for item in order.lineItems %}
                    <div class="lineItem{{ oddClass }}">

                            <span class="itemQty">
                                {{ item.qty }}
                            </span>
                            <span class="itemDesc">
                                {{ item.description }}
                            </span>
                            <span class="itemPrice">
                                {{ item.price | currency(order.currency) }}
                            </span>
                            <span class="itemTotal">
                                {{ item.subTotal | currency(order.currency) }}
                            </span>
                    </div>
                    {% set oddClass = (oddClass == "") ? " oddRow" : "" %}
                    {% endfor %}

                    {% if order.getTotalDiscount() %}
                    <div class="lineItem{{ oddClass }}">
                            <span class="itemQty hdr">
                                &nbsp;
                            </span>
                            <span class="itemDesc hdr">
                                &nbsp;
                            </span>
                            <span class="itemPrice">
                                {{ cartVars.cartDiscount }}
                            </span>
                            <span class="itemTotal">
                                {{ order.getTotalDiscount()|commerceCurrency(order.currency) }}
                            </span>
                    </div>
                    {% endif %}
                    <div class="lineItem total">
                            <span class="itemQty hdr">
                                &nbsp;
                            </span>
                            <span class="itemDesc hdr">
                                &nbsp;
                            </span>
                            <span class="itemPrice hdr">
                                {{ cartVars.cartTotal }}
                            </span>
                            <span class="itemTotal hdr">
                                {{ order.totalPrice | currency(order.currency) }}
                            </span>
                    </div>

                </div>
            </div>
            <div class="btnRow">
                {% if currentUser %}
                <a class="button" href="/customer">Order History</a>
                {% else %}
                
                <a class="button" href="/login?name=jim&case=killer">Create Account   </a>
                {% endif %}
                <a class="button" href="/">Home Page</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block pageJs %}
    <script>
    {{ m_utils.setProgress('s6', 'Order Confirmation', 'false') }}
    </script>
{% endblock pageJs %}
