{% extends "_layouts/site-base-checkout.twig" %}

{# import macros #}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_user' as m_user %}
{% import '_macros/_utils' as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Account</title>
{% endblock titleTag %}

{% block content %}

    <section row>
        <div class="UserForm MemberLogin" style="display: none;">
            <h1 class="jsLoginTitle">Reset Password</h1>
            <div class="UserForm-block">
                <p>Enter a new password for your Demaggs account.</p>

                <form method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('users/set-password') }}
                    {{ hiddenInput('code', code|default ? code : 'code') }}
                    {{ hiddenInput('id', id|default ? id : 'id') }}

                    {% set requiredFields = {   "errorId" : "#fpErrors", 
                                                "#loginName" : "→ Email is required" } | json_encode() %}
                    
                    {# error handling goes here #}
                    {% if errors ?? false %}
                        {{ ul(errors, {class: 'error'}) }}
                    {% else %}
                        <p id="fpErrors" class="error jsErrorMsg"></p>
                    {% endif %}

                    <div class="formRow">
                        <span class="w100">
                            <label for="new-password">Password</label>
                            {{ input('password', 'newPassword', null, {
                            id: 'new-password',
                            }) }}
                        </span>
                    </div>


                    <div class="btnRow left">
                        <button class="jsCheckRequired" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block pageJs %}
    <script>
    $(document).ready(function () {
        $('.jsErrorMsg').text('');
        $('.UserForm').fadeIn(1500);
    });
    {{ m_utils.setProgress('s0', 'Account', 'false') }}
    </script>
{% endblock pageJs %}
