{% extends "_layouts/site-base-page.twig" %}

{# import the srcset macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_user' as m_user %}



{% block bodyTag %}
	<body class="home-page">
{% endblock bodyTag %}

{% block titleTag %}
<title>{{ globalVars.pageTitleBase }} www.Demaggs.com</title>
{% endblock titleTag %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block pageintro %}
	{{ m_intros.showIntro('intro-home') }}
{% endblock pageintro %}

{% block content %}
	{{ m_textpic.textpic(entry.tpBlocks) }}
{% endblock content %}

{% block subcontent %}
		<div class="row dark">
			<div class="ContactUs">
                {% set hero = entry.contactHero.one() %}
				<div class="ContactUs-info" style="background-image: url('{{ hero.url }}');"></div>
 				<div  id="contactus" class="ContactUs-contact">
					<div class="ContactUs-feature">
						<div>
							<span class="ContactUs-logo">
                                {% set logo = entry.simpleLogo.one() %}
								<img src="{{ logo.getUrl() }}" alt="{{ logo.altText }}"/>
							</span>

                            {% for contact in entry.contactInfo %}                   
                            <p>{{ contact.addressOne }}, {{ contact.city }}, {{ contact.state }} {{ contact.postalCode }}</p>
                            <p>Phone: {{ contact.phone }}</p>
                            <p>Fax: {{ contact.fax }}</p>
                            <p>email:
                                <a href="mailto:{{ contact.email }}?subject={{ contact.emailSubject }}">{{ contact.email }}</a>
                            </p>

							<p>&nbsp;</p>
                            <span class="button">
							    <a href="mailto:{{ contact.email }}?subject={{ contact.emailSubject }}">{{ contact.button }}</a>
                            </span>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
	{{ parent() }}
{% endblock bodyJs %}
