{% extends "_layouts/site-base-page.twig" %}

{# import the srcset macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_user' as m_user %}



{% block bodyTag %}
	<body class="home-page">
{% endblock bodyTag %}

{% block titleTag %}
<title>{{ globalVars.pageTitleBase }} www.Demaggs.com</title>
{% endblock titleTag %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block pageintro %}
	{{ m_intros.showIntro('intro-home') }}
{% endblock pageintro %}

{% block content %}
	{{ m_textpic.textpic(entry.tpBlocks) }}
    <section class="row Video">
		<h2>{{ entry.videoTitle }}</h2>
        <div class="Video-wrapper">
            <iframe src="{{ entry.videoUrl }}" width="400" height="225" frameborder="0"></iframe>
        </div>
        <p class="Video-caption" style="margin: 0.5rem; text-align: center;">{{ entry.videoDescription }}<p>
    </section>

{% endblock content %}

{% block subcontent %}
		<div class="row dark">
			<div class="ContactUs">
                {% set hero = entry.contactHero.one() %}
				<div class="ContactUs-info" style="background-image: url('{{ hero.url }}');"></div>
 				<div  id="contactus" class="ContactUs-contact">
					<div class="ContactUs-feature">
						<div>
							<span class="ContactUs-logo">
                                {% set logo = entry.simpleLogo.one() %}
								<img src="{{ logo.getUrl() }}" alt="{{ logo.altText }}"/>
							</span>

                            {% for contact in entry.contactInfo %}                   
                            <p>{{ globalVars.companyStreet }}, {{ globalVars.companyCSZ }}</p>
                            <p>Phone: {{ globalVars.companyPhone }}</p>
                            <p>Fax: {{ globalVars.companyPhone }}</p>
                            <p>email:
                                <a href="mailto:{{ globalVars.companyEmail }}?subject={{ contact.emailSubject }}">{{ globalVars.companyEmail }}</a>
                            </p>

							<p>&nbsp;</p>
                            <span>
							    <a  class="button" href="mailto:{{ globalVars.companyEmail }}?subject={{ contact.emailSubject }}">{{ contact.button }}</a>
                            </span>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}

{% block bodyJs %}
    {{ parent() }}
    <script src="/assets/js/scroll-show.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>
    <script>
    // Basic FitVids Test
    $(".Video-wrapper").fitVids();
    // Custom selector and No-Double-Wrapping Prevention Test
    $(".Video-wrapper").fitVids({ customSelector: "iframe[src^='http://socialcam.com']"});
    </script>
{% endblock bodyJs %}