{# public macros for managing users #}

{# show categories #}
{% macro showCategories(group=null) %}

{% if group is defined %}
    {% set myCategoryQuery = craft.categories().group(group) %}

    {# Fetch the categories #}
    {% set categories = myCategoryQuery.all() %}

    {# Display the menu group navigation #}
    <div id="select" class="row">
        <section class="MenuChoices ItemGrid">
        {% nav category in categories %}
            {% switch group %}
                {% case "foodGroups" %}
                    {% set desc  = category.fiGroupDescription %}
                    {% set btnText = globalVars.makeSelection %}
                    {% set img = category.fiGroupImage.one() %}

                {% case "specials" %}
                    {% set desc  = category.catDesc %}
                    {% set btnText = globalVars.makeSelection %}
                    {% set img = category.catImg.one() %}

                {% default %}
                    {% set desc  = "" %}
                    {% set btnText = globalVars.makeSelection %}
                    {% set img = null %}
            {% endswitch %}
            
            <div class="MenuChoices-item ItemGrid-item" style="min-height: 200px;">
                <a href="{{ category.url }}" class="MenuChoices-overlay">
                    <div class="MenuChoices-contents">
                        <p class="MenuChoices-title">{{ category.title }}</p>
                        <p class="MenuChoices-subtitle">{{ desc }}</p>
                        <span class="MenuChoices-select">{{ btnText }}</span>
                    </div>
                </a>
                <div class="MenuChoices-imgWrap">
                    <div>
                        {# should make lazy and responsive #}
                        {% if img != null %}
                        <img class="lazy" src="{{ img.url }}" alt="{{ img.altText }}"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endnav %}
        </section>
    </div>
{% endif %}

{% endmacro showCategories %}

{% macro checkBoxField(item=null, fldVal=null, fldName="", fldId="") %}

    {% if item is not null %}
        {% set fldName = (fldName is not empty) ? fldName : 'fldName' %}
        {% set fldId = (fldId is not empty) ? fldId : 'fldId' %}

        {# Include a hidden input first so Craft knows to update the
        existing value, if no checkboxes are checked. #}
        {% set field = craft.app.fields.getFieldByHandle(fldName) %}

        {{ hiddenInput('fields[{{ fldName }}]', '') }} 

        {% for option in field.options %}

            {% set checked = (fldVal is not null)
            ? fldVal.contains(option.value)
            : option.default %}

            <input type="checkbox"
                id="{{ fldId }}"
                name="fields[{{ fldName }}][]"
                value="{{ option.value }}"
                {% if checked %}checked{% endif %}>
                
        {% endfor %}
    {% endif %}

{% endmacro checkBoxField %}

{% macro setProgress(progressState="s0", progressTitle="Checkout", showProgress=true) %}

	function setCheckoutProgress(newState, newTitle="", showProgress=true){
		var $state = $("#jsProgressState");

        if ( showProgress ) {
            $('#jsProgressBar>div.nav-wrapper').hide();
            $('#jsProgressBar>div.progress').show();
            $state.removeClass();
            $state.addClass('state '+newState); 
        }
        else {
            $('#jsProgressBar>div.progress').hide();
            $('#jsProgressBar>div.nav-wrapper').show();
        }
        $('#jsCheckoutTitle').text(newTitle);       
    };
    setCheckoutProgress('{{ progressState }}', '{{ progressTitle }}', {{ showProgress }});

{% endmacro setProgress %}

