{# should move to cart/ #}
{% extends "_layouts/site-base-checkout.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_menu'    as m_menu %}
{% import '_macros/_user'    as m_user %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Order Review</title>
{% endblock titleTag %}

{% block content %}
    {% set cart = craft.commerce.carts.cart %}
    {% set states = craft.commerce.states.allEnabledStates %}
    {% set addrId = cart.shippingAddressId %}
    {% set addresses = craft.commerce.customers.customer.addresses %}
    {% set address = cart.shippingAddress %}

    <form method="post">
        {{ actionInput('commerce/cart/update-cart') }}
        {{ hiddenInput('successMessage', 'The cart was updated.'|hash) }}
        {{ hiddenInput('gatewayId', globalVars.stripeGatewayId) }}
        {{ csrfInput() }}

        <section row>
            <div class="UserForm CartBlock">
                <h1 class="">Review Order</h1>
                <div class="UserForm-block">
                    {% if craft.app.session.getFlash("error") %}
                        <div class="alert error" role="alert">
                        {{ craft.app.session.getFlash("error") }}
                        </div>
                    {% endif %}

                    {{ m_menu.showOrderDetails(cart) }}
                
                    <div class="couponRow">
                        <div class="{{ cart.getFirstError('couponCode') ? 'couponError' : 'couponCode' }} text-left max-w-sm w-full">
                            {# Update Coupon form uses the single update controller action: #}
                            <label class="couponLabel" for="couponCode">Coupon Code</label>
                            {% if cart.getFirstError('couponCode') %}
                                <div class="cartError">{{ cart.getFirstError('couponCode') }}</div>
                            {% endif %}

                            <input type="text" name="couponCode" width="11"
                                    class="'inputEror' w-full {% if cart.getFirstError('couponCode') %}text-red-500{% endif %}"
                                    value="{{ cart.couponCode }}"
                                    placeholder="{{ "Coupon Code" }}">
                        </div>
                    </div>


                    <div class="btnRow">
                        {{ redirectInput('cart') }}
                        <span class='leftButton'>
                            {% set pageLink = craft.app.request.getReferrer() %}
                            <a class="button off" href="{{ pageLink }}">Previous Page</a>
                        </span>
                        <input class="button off" type="submit" value="Update Order">
                        <a class="button" href="{{ url('checkout') }}">Checkout</a>
                    </div>
                </div>
            </div>
       </section>
    </form>

{% endblock content %}

{% block pageJs %}
    <script>
    {{ m_utils.setProgress('s1', 'Order Review') }}
    </script>
{% endblock pageJs %}

{#  address fields
     [id] => '56'
    [isStoreLocation] => false
    [attention] => ''
    [title] => ''
    [firstName] => 'Sean'
    [lastName] => 'Mayall'
    [fullName] => ''
    [address1] => '337 Bond Street'
    [address2] => ''
    [address3] => ''
    [city] => 'Bend'
    [zipCode] => '97701'
    [phone] => '760-519-4879'
    [alternativePhone] => ''
    [label] => ''
    [businessName] => ''
    [businessTaxId] => null
    [businessId] => null
    [stateName] => ''
    [countryId] => '236'
    [stateId] => '59'
    [notes] => ''
    [custom1] => ''
    [custom2] => ''
    [custom3] => ''
    [custom4] => ''
    {% set address = craft.commerce.customers.customer.getAddressById(cart.shippingAddressId) %}
    [billingAddressId] => '3'
    [shippingAddressId] => '63'

#}
