{% extends "_layouts/site-base-checkout.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_menu'    as m_menu %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Payment</title>
{% endblock titleTag %}

{% block content %}
    {% set cart = craft.commerce.carts.cart %}
    {% set states = craft.commerce.states.allEnabledStates %}
    {% set billingId = cart.billingAddressId %}
    {% set addresses = craft.commerce.customers.customer.addresses %}
    {% set shipping = cart.shippingAddress %}
    {% set billing = cart.billingAddress %}
    {% set startDate = now|date_modify('+1 day')|atom %} 

    {% if shipping and not billing %}
        {% set billing = shipping %}
    {% endif %}

        <section row>
            <div class="UserForm PaymentBlock">
                <h1 class="">Payment</h1>
                <div class="UserForm-block">
                    {% if craft.app.session.getFlash("error") %}
                        <div class="alert error" role="alert">
                        {{ craft.app.session.getFlash("error") }}
                        </div>
                    {% endif %}
                    
                    <div class="PaymentBlock-wrapper">
                        <div class="review">
                            <h5>Order Review</h5>
                            {% if ((cart.eventDate|date('D')) == 'Tue') %}
                            <h5>Event Day: {{ cart.eventDate | date('D') }}</h5>
                            {% endif %}
                            <div class="Food">
                                {{ m_menu.showCart(false) }}
                            </div>
                        </div>

                        <div class="seperator">
                            <div></div>
                        </div>

                        {# set variables for payment-block 
                        {% set formHandle = "stripePayment" %}
                        {% set wrapperClass = "pay" %}
                        {% set optionalBtn = {
                            href: craft.app.request.getReferrer(),
                            class: "button off",
                            text: "Previous"} %}

                        {% include "_partials/payment-block" %}
                        #}
                        <div class="pay">
                            {% if cart.lineItems|length %}
                                <h5>Payment Details</h5>
                                {% set bFirst = billing.firstName %}
                                {% set bLast = billing.lastName %}
                                {% include "_partials/stripe-block" %}
                            {% else %}
                                <h5>Your order is empty</h5>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
       </section>

    </form>

{% endblock content %}

{% block pageJs %}
    <script>
    {{ m_utils.setProgress('s5', 'Checkout') }}

/**
        const form = document.getElementById("stripePayment");
        if ( form ) {
            form.addEventListener("freeform-ready", function (event) {
                const freeform = event.target.freeform;
                freeform.setOption('successBannerMessage', "This is a custom success message");
            });
        }      
        else {
            alert('no form found!');
        }      

        form.addEventListener('freeform-ready', function(event) {
            const freeform = event.target.freeform;

            alert('level one');
            // Do something on a successful ajax submit
            freeform.addOnSuccessfulAjaxSubmit(function(event, form, response) {
                // Redirect the user
                alert('level one');
                window.location.href = response.returnUrl;
            });
        });
**/

    </script>
{% endblock pageJs %}
