{% extends "_layouts/site-base-page.twig" %}

{# import the srcset macro #}
{% import '_macros/_srcset' as m_srcset %}
{% import '_macros/_intros' as m_intros %}
{% import '_macros/_utils' as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Chef Specials</title>
{% endblock titleTag %}

{% block headLinks %}
	{{ parent() }}
{% endblock headLinks %}

{% block pageintro %}
		{{ m_intros.showIntro(entry.slug) }}
{% endblock pageintro %}

{% block content %}
	{{ m_utils.showCategories('specials') }}
{% endblock content %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
	{{ parent() }}
{% endblock bodyJs %}
